body {
    background: url(../images/background.jpg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

#wrapper {
    background-color: antiquewhite;
    height: auto;
    width: auto;
    opacity: .8;
    padding: 30px;
    border-radius: 25px;
    border: 1px solid gray;
}

#subwrapper {
    background-color: gray;
    width: auto;
    height: auto;
    border-radius: 25px;
    padding: 30px;
    color: beige;
}